<ion-view style="background-color:#C0C0C0;">
	<ion-header-bar id="home_header" no-tap-scroll="true">
		<h2 style="position: absolute; right: 5px;">Drawing App</h2>
	</ion-header-bar>
	<ion-content ng-controller='MainController'>
	<ion-scroll  delegate-handle="canvas" zooming="true" direction="xy" style="margin-top:30px; width: 500px; height: 500px; border: 1px solid black;">
	  <canvas id='signatureCanvas'></canvas>
	</ion-scroll>
            <div class="list">
  <div style="width:500px;" class="item range range-positive">
    <i class="icon ion-search"></i>
    <input type="range" name="volume" min="1" max="3" value="1" ng-change="SetZoom(zoom)" ng-model="zoom">
    <i class="icon ion-search"></i>
  </div>
</div>
      <table ng-if="left!=true" on-swipe-left="SwipeLeft()" style=" width: 500px;margin-right:5px; margin-bottom:30px; border: 2px solid black;">
        <tr>
          <td style="width:60px; height:60px; text-align: center; vertical-align: middle; border: 1px solid black;" ng-class="{selected: action =='5'}" ng-click="choose(5)">
            <i class="icon ion-edit" style="font-size:40px;">
          </td>
          <td style="width:60px; height:60px; text-align: center; vertical-align: middle; border: 1px solid black;" ng-class="{selected: action =='0'}" ng-click="choose(0)">
            <i class="icon ion-arrow-move" style="font-size:40px;">
          </td>
        </tr>
        <tr ng-if="action == 5">
          <td style="background-color: black;width:60px; height:60px; text-align: center; vertical-align: middle; border: 1px solid black;" ng-class="{color: color =='1'}" ng-click="setColor(1)">
          </td>
          <td style="background-color: red;width:60px; height:60px; text-align: center; vertical-align: middle; border: 1px solid black;" ng-class="{color: color =='2'}" ng-click="setColor(2)">
          </td>
          <td style="background-color: yellow;width:60px; height:60px; text-align: center; vertical-align: middle; border: 1px solid black;" ng-class="{color: color =='3'}" ng-click="setColor(3)">
          </td>
          <td style="background-color: green;width:60px; height:60px; text-align: center; vertical-align: middle; border: 1px solid black;" ng-class="{color: color =='4'}" ng-click="setColor(4)">
          </td>
          <td style="background-color: blue;width:60px; height:60px; text-align: center; vertical-align: middle; border: 1px solid black;" ng-class="{color: color =='5'}" ng-click="setColor(5)">
          </td>
      </table>
     
	</ion-content>
</ion-view>